## Dimension Reduction

In [41]:
import pandas as pd
import numpy as np
from datetime import date, datetime

In [30]:
df_student = pd.read_excel('Data/students_adaptability_level_online_education.xlsx')
df_student.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,2024-03-06 00:00:00,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,2024-01-03 00:00:00,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Moderate
3,Girl,2024-11-15 00:00:00,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,2024-01-03 00:00:00,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [31]:
df_student.shape

(1205, 14)

In [32]:
df_student.isna().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

In [33]:
df_student.iloc[1]

Gender                                Girl
Age                                  21-25
Education Level                 University
Institution Type            Non Government
IT Student                              No
Location                               Yes
Load-shedding                         High
Financial Condition                    Mid
Internet Type                  Mobile Data
Network Type                            4G
Class Duration         2024-01-03 00:00:00
Self Lms                               Yes
Device                              Mobile
Adaptivity Level                  Moderate
Name: 1, dtype: object

In [34]:
df_student[(df_student['Education Level'] =='School' )& (df_student['Institution Type']=='Government') & (df_student['Class Duration']!= 0) & (df_student['Device']!= np.nan)]

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
39,Girl,2024-11-15 00:00:00,School,Government,No,Yes,Low,Mid,Wifi,3G,2024-01-03 00:00:00,No,Mobile,Low
68,Girl,2024-11-15 00:00:00,School,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Low
97,Girl,2024-11-15 00:00:00,School,Government,No,No,High,Poor,Mobile Data,2G,2024-01-03 00:00:00,No,Mobile,Low
105,Boy,2024-11-15 00:00:00,School,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Computer,Moderate
128,Girl,2024-11-15 00:00:00,School,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122,Boy,16-20,School,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Moderate
1125,Girl,2024-11-15 00:00:00,School,Government,No,Yes,Low,Rich,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Moderate
1142,Girl,16-20,School,Government,No,Yes,Low,Mid,Mobile Data,4G,2024-01-03 00:00:00,No,Mobile,Low
1151,Girl,2024-11-15 00:00:00,School,Government,No,Yes,Low,Mid,Wifi,4G,2024-01-03 00:00:00,No,Mobile,Low
1161,Girl,2024-11-15 00:00:00,School,Government,No,No,Low,Mid,Mobile Data,3G,2024-01-03 00:00:00,No,Mobile,Low

In [35]:
df_student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [48]:
df_student['Class Duration']

0       2024-03-06 00:00:00
1       2024-01-03 00:00:00
2       2024-01-03 00:00:00
3       2024-01-03 00:00:00
4                         0
               ...
1200    2024-01-03 00:00:00
1201    2024-03-06 00:00:00
1202    2024-01-03 00:00:00
1203    2022-01-03 00:00:00
1204    2024-01-03 00:00:00
Name: Class Duration, Length: 1205, dtype: object

In [47]:
df_student.loc[datetime.strptime(df_student['Class Duration'].to_datetime().strftime('%Y'), '%Y'),year]

AttributeError: 'Series' object has no attribute 'to_datetime'